:root {
 --clr-blue: #151A28;
}

@font-face {
    font-family: BenchNine;
    src: url(./fonts/BenchNine.tff);
}
@font-face {
    font-family: Axion;
    src: url(./fonts/Axion.tff);
}

body {
    background-color: #151A28;
    cursor: none;
    width: 100%;
    height: 100%;
}

.cursor {
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;

    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: +1;
    background-color: white;
}

#result {
    font-family:'Axion';
    font-size: 30px;
    color: white;
    padding: 30px;
    text-align:center;
    line-height: 40px;
}

#bid{
    border: 1px solid white;
    margin:20px;
    padding:80px;
    text-align:center;
}
#bid h1 {
    font-family:'Axion';
    font-size: 70px;
    color: white;
    padding:0px;
    margin:0px;
    padding-bottom:20px;
}
#choices {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5mm;
}
button {
    color: #151A28;
    font-size:40px;
    font-family: 'BenchNine';    
    padding:20px;
    cursor: none;
}
    button:hover {
        color: white;
        background-color: #B3C3D0;
    }

    button:active {
        transform: translateY(5px);
    }
